<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Fe:Loredana Frontino, Be:Andrea Fuscaldi, Be:Roberto Bini">
		<meta name="description" content="Pagina compilazione form per ottenere i grafici del progetto Epimetheus">
		<!-- Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<link href="/static/style.css" rel="stylesheet" type="text/css">
		<title>Epimetheus - form</title>
		<script src="https://d3js.org/d3.v7.min.js"></script>
	</head>
	<body>
		<header class="fixed-top">
			<nav class="navbar navbar-light bg-light shadow-sm">
				<div class="container">
					<span class="navbar-brand mb-0 h1">Epimetheus project</span>
		<!--			<ul class="navbar-nav ml-auto my-2 my-lg-0 px-4 px-lg-0 navbar-nav-scroll">-->
		<!--				<li class="nav-item mx-2 py-3 py-lg-0">-->
		<!--					<a class="nav-link">Valuta</a>-->
		<!--				</li>-->
		<!--			</ul>-->
				</div>
			</nav>
		</header>
		<div class="container my-5">
			<div class="row">
				<div class="head-form pt-4 d-flex justify-content-between align-items-start col-lg-8 col-12 mx-auto">
					<button class="btn btn-blue text-uppercase activeBtn">1</button>
					<div class="lineToNext" id="goStep2"></div>
					<button class="btn btn-blue text-uppercase" id="btnStep2">2</button>
					<div class="lineToNext" id="goStep3"></div>
					<button class="btn btn-blue text-uppercase" id="btnStep3">3</button>
				</div>
			</div>

			<form id="formSteps" method="post" onsubmit="goToResults()" >
				<div class="row border-bottom py-4" id="step1">
					<h2 class="col-12 text-blue text-uppercase">Requirement selection</h2>
		<!--			<p class="col-12">Selezionare la procedura, lo score e lo step per cui si vuole fare il confronto</p>-->
					<p class="col-12">Select the procedure, the score and the step for which you want to make the comparison</p>
					<div class="form-group col-xl-4 col-md-6 col-12">
						<label for="formProcedure" class="form-label">Procedure</label>
						<select class="form-select" aria-label="Select for procedure" id="formProcedure" name="procedure">
							<option value="" selected>Select the procedure</option>
							<option value="Anca">Anca</option>
							<option value="Ginocchio" disabled>Ginocchio</option>
						</select>
					</div>
					<div class="form-group col-xl-4 col-md-6 col-12">
						<label for="formScore" class="form-label">Score</label>
						<select class="form-select" aria-label="Select for score" id="formScore"  name="score">
							<option value="" selected>Select the score</option>
							<option value="Phisycal">Fisico</option>
							<option value="Mental">Mentale</option>
						</select>
					</div>
					<div class="form-group col-xl-4 col-md-6 col-12">
						<label for="formStep" class="form-label">Step</label>
						<select class="form-select" aria-label="Select for step" id="formStep" name="step">
							<option value="" selected>Select the step</option>
							<option value="Pre" disabled>Preoperatorio</option>
							<option value="3" disabled>3 Mesi</option>
							<option value="6">6 Mesi</option>
							<option value="12" disabled>12 Mesi</option>
							<option value="24" disabled>24 Mesi</option>
						</select>
					</div>
					<div class="col-12 text-end mt-3" id="clicked1">
						<button type="button" class="btn btn-primary" onclick="goToNextStep(1)">
							Next
						</button>
					</div>
				</div>
				<div class="border-bottom py-4" id="step2">
					<div class="row">
						<h2 class="col-12 text-blue text-uppercase">Preference selection</h2>
						<div class="col-xl-4 col-md-6 col-12">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="flexRadioDefault" id="preference1">
								<label class="form-check-label" for="preference1">
									False positive minimization
								</label>
							</div>
						</div>
						<div class="col-xl-4 col-md-6 col-12">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="flexRadioDefault" id="preference2" checked>
								<label class="form-check-label" for="preference2">
									Balanced prediction
								</label>
							</div>
						</div>
						<div class="col-xl-4 col-md-6 col-12">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="flexRadioDefault" id="preference3">
								<label class="form-check-label" for="preference3">
									False negative minimization
								</label>
							</div>
						</div>
						<div class="col-12 text-end mt-3" id="clicked2">
							<button type="button" class="btn btn-primary" onclick="goToNextStep(2)">
								Next
							</button>
						</div>
					</div>
				</div>
				<div class="border-bottom py-4" id="step3">
					<h2 class="text-blue text-uppercase">Input data</h2>
					<p>Select the data source</p>
					<div class="row" id="objSource">
						<div class="col-xl-4 col-md-6 col-12">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="dataSource" id="dataSourceManual" value="manually">
								<label class="form-check-label" for="dataSourceManual">
									Insert batch data
								</label>
							</div>
						</div>
						<div class="col-xl-4 col-md-6 col-12">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="dataSource" id="dataSourcePatient" value="patientEpisode">
								<label class="form-check-label" for="dataSourcePatient">
									Insert data manually
								</label>
							</div>
						</div>
					</div>
					<div class="row" id="manuallyForm">
						<div class="form-group col-xl-4 col-md-6 col-12">
							<label for="file" class="form-label">Insert dataset</label>
							<input class="form-control" aria-label="insert file xsls or xls" id="file" name="file" type="file" placeholder="no file selected">
						</div>
					</div>
					<div id="episodeForm">
						<div class="row">
							<div class="form-group col-xl-4 col-md-6 col-12">
								<label for="uid" class="form-label">Uid</label>
								<input class="form-control" aria-label="UID" id="uid" name="uid" type="text" required>
							</div>
							<div class="form-group col-xl-4 col-md-6 col-12">
								<label for="sex" class="form-label">Gender</label>
								<div class="d-flex" id="sex">
									<div class="form-check">
										<input class="form-check-input" type="radio" name="sesso" value="M" id="male">
										<label class="form-check-label" for="male">
											Male
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="radio" value="F" name="sesso" id="female">
										<label class="form-check-label" for="female">
											Female
										</label>
									</div>
								</div>
							</div>
							<div class="form-group col-xl-4 col-md-6 col-12">
								<label for="anni_ricovero" class="form-label">Age patient</label>
								<input class="form-control" aria-label="età" id="anni_ricovero" name="anni_ricovero" type="number">
							</div>
							<div class="form-group col-xl-4 col-md-6 col-12">
								<label for="data_operazione" class="form-label">Date of operation</label>
								<input class="form-control" aria-label="Data operazione" id="data_operazione" name="data_operazione" type="date" max="2021-05-05">
							</div>
							<div class="form-group col-xl-4 col-md-6 col-12">
								<label for="data_dimissione" class="form-label">Date of dimission</label>
								<input class="form-control" aria-label="Data dimissione" id="data_dimissione" name="data_dimissione" type="date" max="2021-05-05">
							</div>
							<div class="form-group col-xl-4 col-md-6 col-12">
								<label for="nome_evento" class="form-label">Name visit</label>
								<select class="form-select" aria-label="Nome evento" id="nome_evento" name="nome_evento">
									<option value="bilaterale protesi primo intervento" selected>bilaterale protesi primo intervento</option>
									<option value="destra protesi primo intervento" >destra protesi primo intervento</option>
									<option value="destra revisione" >destra revisione</option>
									<option value="sinistra protesi primo intervento">sinistra protesi primo intervento</option>
									<option value="sinistra revisione">sinistra revisione</option>
								</select>
							</div>
							<div class="form-group col-xl-4 col-md-6 col-12">
								<label for="nome_equipe" class="form-label">Name equipe</label>
								<select class="form-select" aria-label="Nome equipe" id="nome_equipe" name="nome_equipe">
									<option value="36h orto - moroni" selected>36h orto - moroni</option>
									<option value="36p orto - parente" >36p orto - parente</option>
									<option value="casco" >casco</option>
									<option value="centro di traumatologia dello sport">centro di traumatologia dello sport</option>
									<option value="chirurgia anca i" >chirurgia anca i</option>
									<option value="clinica ortopedica" >clinica ortopedica</option>
									<option value="e.u.o.r.r." >e.u.o.r.r.</option>
									<option value="gspine4">gspine4</option>
									<option value="oraco" >oraco</option>
									<option value="ot9 orto - ventura2" >ot9 orto - ventura2</option>
								</select>
							</div>
							<div class="form-group col-xl-4 col-md-6 col-12">
								<label for="procedura_intervento" class="form-label">Intervention procedure</label>
								<input class="form-control" aria-label="procedura intervento" id="procedura_intervento" name="procedura_intervento" type="text">
							</div>
							<div class="form-group col-xl-4 col-md-6 col-12">
								<label for="HHS_FpreOp" class="form-label">HHS Function PreOp</label>
								<input class="form-control" aria-label="HHS_FpreOp" id="HHS_FpreOp" name="HHS_FpreOp" type="number">
							</div>
							<div class="form-group col-xl-4 col-md-6 col-12">
								<label for="HHS_TpreOp" class="form-label">HHS Total PreOp</label>
								<input class="form-control" aria-label="HHS_TpreOp" id="HHS_TpreOp" name="HHS_TpreOp" type="number">
							</div>
							<div class="form-group col-xl-4 col-md-6 col-12">
								<label for="VAS_PAIN_PreOp" class="form-label">VAS PAIN risp PreOp</label>
								<input class="form-control" aria-label="VAS_PAIN_PreOp" id="VAS_PAIN_PreOp" name="VAS_PAIN_PreOp" type="number">
							</div>
							<div class="form-group col-xl-4 col-md-6 col-12">
								<label for="physicalScore" class="form-label">SF12 PhysicalScore PreOp</label>
								<input class="form-control" aria-label="physicalScore" id="physicalScore" name="physicalScore" type="number">
							</div>
							<div class="form-group col-xl-4 col-md-6 col-12">
								<label for="mentalScore" class="form-label">SF12 MentalScore PreOp</label>
								<input class="form-control" aria-label="mentalScore" id="mentalScore" name="mentalScore" type="number">
							</div>
							<div class="form-group col-xl-4 col-md-6 col-12">
								<label for="HOOSPS" class="form-label">HOOSPS Total PreOp</label>
								<input class="form-control" aria-label="HOOSPS" id="HOOSPS" name="HOOSPS" type="number">
							</div>
							<div class="form-group col-xl-4 col-md-6 col-12">
								<label for="bmi_altezza_preOp" class="form-label">BMI height risp PreOp</label>
								<input class="form-control" aria-label="BMI altezza risp PreOp" id="bmi_altezza_preOp" name="bmi_altezza_preOp" type="number">
							</div>
							<div class="form-group col-xl-4 col-md-6 col-12">
								<label for="bmi_peso_preOp" class="form-label">BMI weight risp PreOp</label>
								<input class="form-control" aria-label="BMI peso risp PreOp" id="bmi_peso_preOp" name="bmi_peso_preOp" type="number">
							</div>
							<div class="form-group col-xl-4 col-md-6 col-12">
								<label for="bmi_total_preOp" class="form-label">BMI Total PreOp</label>
								<input class="form-control" aria-label="BMI Total PreOp" id="bmi_total_preOp" name="bmi_total_preOp" type="number">
							</div>
						</div>
					</div>
					<div class="col-12 text-end mt-3">
						<button type="button" class="btn btn-primary" onclick="goToResults()">
							Go to results
						</button>
					</div>
				</div>
				<div class="col-12 text-end mt-3">
		<!--			<button type="button" class="btn btn-primary" onclick="violinPlot()">-->
		<!--				visualizza violin-->
		<!--			</button>-->
				</div>
			</form>
		</div>
		<script rel="script" src="/static/js/script.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

	</body>
</html>